html {
    font-size: 62.5%;
}

body {
    background-color: $dark-blue;
    font-family: sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    outline: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:disabled {
    cursor: default;
}